@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

@font-face{
    font-family: 'SegoeWP';
    src: url('../fonts/Segoe WP.ttf');
}

@font-face{
    font-family: 'SegoeWP Light';
    src: url('../fonts/Segoe WP Light.ttf');
}


body {
    font-family: 'SegoeWP';
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.top-menu {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}


.logo {
    display: flex;
}

.logo-shape {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5094f2;
}

.list-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.list-menu li {
    margin-right: 30px;
}

.list-menu li a {
    color: #6c6c6c;
    text-decoration: none;
}

.list-menu li a:hover {
    color: #5094f2;
}

.symbol {
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    z-index: 5;
}

.logo-name {
    font-family: "SegoeWP Light";
    display: flex;
    font-size: 30px;
    margin-left: 15px;
}

.header-bg {
    background: url("../img/bg.png") 100% 100% no-repeat;
    background-size: cover;
    height: 482px;
}

.first_feature_img_showing {
    background-image: url("../img/cart.png");
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    opacity: 1;
}

.head-wrapper {
    max-width: 1024px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 100%;
}

.head-icon {
    background-image: url("../img/iphone.png");
    margin-left: -30px;
    width: 345px;
    height: 425px;
}

.head-text {
    font-family: "SegoeWP Light";
    font-size: 30px;
    color: white;
}

.head-text-text span {
    font-size: 50px;
}

.head-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 180px;
    height: 45px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 6px;
    background-color: #5094f2;
}

.head-button p {
    margin-left: 20px;
    font-size: 20px;
    text-align: right;
}

.head-button-img {
    background-image: url("../img/mark.png");
    margin-left: 20px;
    width: 20px;
    height: 20px;
}


.head-button a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 45px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}

.head-button a:hover {
    background-color: #4675f2;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    heigh: 412px;
    width: 100%;
}

.first_feature,
.second_feature,
.third_feature {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #5094f2;
    margin-right: 20px;
    margin-top: 50px;
}

.first_feature_img {
     background-image: url("../img/pencil.png");
     background-repeat: no-repeat;
     width: 120px;
     height: 120px;
     opacity: 1;
 }

.first_feature_img_next {
    background-image: url("../img/pencil.png");
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    opacity: 1;
}

.second_feature {
    background-color: #d94748;
}

.second_feature_img {
    background-image: url("../img/pc.png");
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}

.second_feature_img_next {
    background-image: url("../img/pc.png");
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}

.third_feature {
    background-color: #ebbb11;
}

.third_feature_img {
    background-image: url("../img/cart.png");
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}

.third_feature_img_next {
    background-image: url("../img/cart.png");
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}

.feature_text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.feature_text p {
    color: #909090;
    font-size: 14px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature_text p span {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #5094f2;
    font-size: 20px;
}

.shopping-cart {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shopping-cart-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 70px;
}

.shopping-cart-left p {
    color:#909090;
    font-size: 40px;
}

.shopping-cart-left-img {
    background-image: url("../img/shopping_cart.png");
    width: 357px;
    height: 274px;
    background-repeat: no-repeat;
}

.shopping-cart-right p {
    font-size: 18px;
    color:#909090;
}

.shopping-cart-right span {
    font-size: 30px;
}

.footer {
    margin-top: 40px;
    text-align: center;
    color: #909090;
}

.slider {
    display: flex;
}